
<% wrap_layout :layout do %>
  <div class="coming-soon-border"></div>
  <div class="coming-soon-bg-cover"></div>

  <div class="container cooming-soon-content">
    <%= yield %>
  </div>

  <div class="container coming-soon">
    <div class="row">
      <div class="col-md-12">
        <p>
          Copyright  &copy; 2006-<%= Time.now.year %>
          <%= utm_link_to 'Wossname Industries', 'https://woss.name/', content: 'wossname-industries-footer' %>.
          All rights reserved.
        </p>
      </div>
    </div>
  </div>
<% end %>
