<div class="row">
  <form action="/search" method="get" id="search-form">
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group input-group-sm">
        <label class="sr-only" for="search">Search Wossname Industries' Projects</label>
        <input type="search" id="search" name="q" class="form-control" placeholder="Search for&hellip;">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Go!</button>
        </span>
      </div>
    </div>
  </form>
</div>
