---
title: 'Rubaidh Ltd: Scottish for Ruby on Rails'
---
<div class="coming-soon-border"></div>
<div class="coming-soon-bg-cover"></div>

<div class="container cooming-soon-content valign__middle">
  <div class="row">
    <div class="col-md-12 coming-soon">
      <h1>So long, and thanks for all the fish!</h1>

      <p>
      </p>
    </div>
  </div>
</div>
